<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>

  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0"/>
  </system.web>
  <!--<system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>-->

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="SpringWebServiceSupport" verb="*" path="*.asmx" type="Spring.Web.Services.WebServiceHandlerFactory,&#xD;&#xA; Spring.Web" />
    </handlers>
  </system.webServer>

  <appSettings>
    <add key="ConnectionString" value="Server=127.0.0.1;Port=5432;Database=tourist;User Id=postgres;Password=DNR;" />
    <add key="ConnectionType" value="sql" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>

  <connectionStrings>
    <add name="Tourist.Properties.Settings.ConnectionString" connectionString="Server=127.0.0.1;Port=5432;Database=tourist;User Id=postgres;Password=DNR;" providerName="System.Data.Odbc" />
  </connectionStrings>

  <spring>
    <context>
      <resource uri="config://spring/objects"/>
    </context>
    <objects xmlns="http://www.springframework.net">
      <object name="InstructorDataAccessor" type="Tourist.InstructorDataAccessor, Tourist"></object>
      <object name="ScheduleDataAccessor" type="Tourist.ScheduleDataAccessor, Tourist"></object>
      <object name="SightDataAccessor" type="Tourist.SightDataAccessor, Tourist"></object>
      <object name="TourDataAccessor" type="Tourist.TourDataAccessor, Tourist"></object>
      <object name="TourTypeDataAccessor" type="Tourist.TourTypeDataAccessor, Tourist"></object>
      <object name="BusinessLogic" type="Tourist.BusinessLogic.BusinessLogic, Tourist" singleton="true">
        <property name="InstructorDataAccessor" ref="InstructorDataAccessor" />
        <property name="ScheduleDataAccessor" ref="ScheduleDataAccessor" />
        <property name="SightDataAccessor" ref="SightDataAccessor" />
        <property name="TourDataAccessor" ref="TourDataAccessor" />
        <property name="TourTypeDataAccessor" ref="TourTypeDataAccessor" />
      </object>
      
      <object id="TouristServiceExporter" type="Spring.Web.Services.WebServiceExporter, Spring.Web">
        <property name="TargetName" value="BusinessLogic" />
        <property name="Namespace" value="http://Tourist/222" />
        <property name="MemberAttributes">
          <dictionary>
            <entry key="ReadSight">
              <object type="System.Web.Services.WebMethodAttribute, System.Web.Services">
                <property name="Description" value="ReadSight" />
                <property name="MessageName" value="ReadSight" />
              </object>
            </entry>
            <entry key="WriteSight">
              <object type="System.Web.Services.WebMethodAttribute, System.Web.Services">
                <property name="Description" value="WriteSight" />
                <property name="MessageName" value="WriteSight" />
              </object>
            </entry>
            <entry key="ReadTour">
              <object type="System.Web.Services.WebMethodAttribute, System.Web.Services">
                <property name="Description" value="ReadTour" />
                <property name="MessageName" value="ReadTour" />
              </object>
            </entry>
            <entry key="WriteTour">
              <object type="System.Web.Services.WebMethodAttribute, System.Web.Services">
                <property name="Description" value="WriteTour" />
                <property name="MessageName" value="WriteTour" />
              </object>
            </entry>
            <entry key="ReadInstructor">
              <object type="System.Web.Services.WebMethodAttribute, System.Web.Services">
                <property name="Description" value="ReadInstructor" />
                <property name="MessageName" value="ReadInstructor" />
              </object>
            </entry>
            <entry key="WriteInstructor">
              <object type="System.Web.Services.WebMethodAttribute, System.Web.Services">
                <property name="Description" value="WriteInstructor" />
                <property name="MessageName" value="WriteInstructor" />
              </object>
            </entry>
            <entry key="ReadTourType">
              <object type="System.Web.Services.WebMethodAttribute, System.Web.Services">
                <property name="Description" value="ReadTourType" />
                <property name="MessageName" value="ReadTourType" />
              </object>
            </entry>
            <entry key="WriteTourType">
              <object type="System.Web.Services.WebMethodAttribute, System.Web.Services">
                <property name="Description" value="WriteTourType" />
                <property name="MessageName" value="WriteTourType" />
              </object>
            </entry>
            <entry key="ReadSchedule">
              <object type="System.Web.Services.WebMethodAttribute, System.Web.Services">
                <property name="Description" value="ReadSchedule" />
                <property name="MessageName" value="ReadSchedule" />
              </object>
            </entry>
            <entry key="WriteSchedule">
              <object type="System.Web.Services.WebMethodAttribute, System.Web.Services">
                <property name="Description" value="WriteSchedule" />
                <property name="MessageName" value="WriteSchedule" />
              </object>
            </entry>
          </dictionary>
        </property>
      </object>
    </objects>
  </spring>
</configuration>
